/* Blog Section ----------------------- */
  /* Sticky Navbar */
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;

    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
    background: var(--background);
    
    div {
      color: var(--primary-font-color);
    }
  
    .nav-left22 {
      h2 {
        font-size: 1rem;
 
      }
    }
  
    &.scrolled .nav-left22 h1 {
      font-size: 1.5rem;
    }
  
    .nav-right22 {
      display: flex;
      align-items: center;
  
      a {
        font-size: clamp(0.1rem,5vw,1rem);
        font-weight: 500;
        margin-left: 20px;
        color: var(--secondary-font-color);
        text-decoration: none;

  
        &:hover {
          filter: brightness(1.1);
          color: var(--primary-color);
        }
      }
    }
  }
  
  /* Dark Mode Switch */
  .theme-switcher {
    display: flex;
    align-items: center;
    z-index: 100;
    cursor: pointer;
  
    .fas {
      font-size: 30px;
      margin-left: 20px;
    }
    
      &:hover {
        transform: scale(1.1);
      }
  }


// yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
#main-blog{

  h1, h2, h3, p, ul {
    padding: 10px 40px;
    color: var(--primary-font-color)
  }
  p, ul {
    padding: 10px 40px;
    color: var(--primary-font-color-lighten)
  }


  img {
    object-fit: scale-down;
    @extend %article-img;
  }
}
// 88888888888888888888888888888888888888888888888888888888888888888888888888888888

#blog {
  @extend %section;
  @include flex-center;
  padding-top: 10vh;

  .blog-container {
    width: 80%;
    padding: 50px;

    @include tablet-horizontal-large {
      width: 90%;
      padding: 5%;
    }
  
    a {
      font-weight: 700;
      text-decoration: none;
      color: var(--primary-font-color);
      transition: color 0.3s;
  
      &:hover {
        color: var(--primary-color);
      }
    }

    .featured-article {
      background-color: var(--background-darken);
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 50px;
      opacity: 0;
      color: var(--primary-font-color-lighten);
      box-shadow: var(--box-shadow); //4px 4px 8px rgba(0, 0, 0, 0.5); /* Horizontal and vertical shadow with blur and spread */
      transition: all 0.3s ease; /* Smooth transition for hover effect */


      &:hover {
          box-shadow: var(--box-shadow);//0 12px 16px rgba(0,0,0,0.2); /* Lighter shadow on hover */
          scale: 1.01;
          }

    
      h3 {
        @include blog-title(2.5rem);
    
        @include tablet-vertical {
          font-size: 2.2rem;
        }
    
        @include smartphone-vertical {
          font-size: 1.5rem;
        }

        @include smartphone-horizontal {
          font-size: 2rem;
        }
      }
    
      p {
        font-size: 1.2rem;
        margin-bottom: 20px;

    
        @include smartphone-vertical {
          font-size: 1rem;
        }
      }
    
      img {
        @extend %article-img;
      }
    }

    .smaller-articles {
      display: flex;
      justify-content: space-between;
      background-color: var(--background-lighten);
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 50px;
      box-shadow: var(--box-shadow); //4px 4px 8px rgba(0, 0, 0, 0.5); /* Horizontal and vertical shadow with blur and spread */
      transition: all 0.3s ease; /* Smooth transition for hover effect */


      &:hover {
          box-shadow: var(--box-shadow);//0 12px 16px rgba(0,0,0,0.2); /* Lighter shadow on hover */
    
          scale: 1.01;
          }
    
      @include tablet-vertical {
        flex-direction: column;
      }

      @include smartphone-horizontal {
        flex-direction: column;
      }
    
      .article {
        @extend %article;
        opacity: 0;
        background-color: var(--background-darken);

        @include tablet-vertical {
          margin-bottom: 20px;
        }

        @include smartphone-vertical {
          margin: 0;
          margin-bottom: 20px;
        }

        @include smartphone-horizontal {
          margin-bottom: 20px;
        }
      
        h3 {
          @include blog-title(1.8rem);
      
          @include tablet-horizontal {
            font-size: 1.4rem;
          }
      
          @include tablet-vertical {
            font-size: 1.7rem;
          }
      
          @include smartphone-vertical {
            font-size: 1.3rem;
          }
        }
      
        p {
          font-size: 1rem;
          color: var(--primary-font-color-lighten);
          @include tablet-horizontal {
            font-size: 0.9rem;
          }
        }
      
        img {
          @extend %article-img;
          min-height: 300px;
        }
      }
    }
  }
}
