/* Footer Section --------------------- */
footer {
    @include flex-center(column);
    background: var(--background);
    color: var(--primary-font-color);
    padding: 20px 0;
    font-size: 1.2rem;
    position: relative;
    z-index: 99;

    .social-icons {
      margin-top: 10px;
  
      a {
        margin: 0 10px;
        color: var(--primary-font-color);
        font-size: 1.5rem;
  
        &:hover {
          color: var(--primary-font-color-lighten);
        }
      }
    }
  }
    