/* Home Section ----------------------- */
.video-container {
    @include smartphone-vertical {
        width: 100vw;
      }
    position: relative;
    z-index: -1;
    height: 100vh;
    display: grid;
    place-items: center;

    video {
        @extend %full-screen-fixed;
        object-fit: cover;
        @include smartphone-vertical {
            width: 100vw;
          }
    }
}

.overlay {
    @include smartphone-vertical {
        width: 100vw;
      }
    @extend %full-screen-fixed;
   
    background-color: var(--background-home);
    display: grid;
    place-items: center;

    h1 {
        position: relative;
        color: var(--primary-font-color);
        font-size: clamp(2.5rem, 5vw, 4rem);
        font-weight: 800;
        z-index: 10;
        animation: colorChange 1.5s ease-in-out infinite alternate;

        @keyframes colorChange {
            from {
                color: var(--primary-font-color-darken);
            }
            to {
                color: white;
            }
        }

        @include tablet-vertical {
            font-size: 4rem;
        }

        @include smartphone-vertical {
            font-size: 3.5rem;
        }
        @include smartphone-vertical {
            font-size: 2rem;
          }
    }

    p {
        color: var(--primary-font-color);
        position: relative;
        text-align: center;
        font-size: clamp(1rem, 5vw, 1.5rem);
        font-weight: 200;
    }
    .home-icons {
   
        position: absolute;
        margin-top: 87vh;
        text-align: center;

        .social-icons {
        margin-top: 10px;
    
        a {
          margin: 0 10px;
          color: var(--primary-font-color);
          font-size: 2rem;
       

          &:hover {
            color: var(--primary-font-color-lighten);
          }
       
          
        }
      }  

    }
}

    
a {

    text-decoration: none;
 
    .my-button {
        background-color: #5689924a; /* Green background */
        border: none;
        color: white;
        padding: 20px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 80px; /* Rounded corners */
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Horizontal and vertical shadow with blur and spread */
        transition: all 0.3s ease; /* Smooth transition for hover effect */
    }
    
    .my-button:hover {
        box-shadow: 0 12px 16px rgba(0,0,0,0.2); /* Lighter shadow on hover */
        scale: 1.02;
    }
    
}